<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To DO List</title>
</head>
<body>
    <h1><%=  kindOfDay %></h1>
    <form action="/" method="post">
        <label for="newItem">New Task:</label>
        <input type="text" id="newItem" name="newItem"> 
        <button type="submit">Add Task</button>
    </form>
    <ul>
        <% for(item in newListItems){ %>
            <li> <%= newListItems[item]  %> </li>
        <% } %>
    </ul>
</body>
</html>